.container {
  position: relative;
}

.kart {
  width: 160px;
}

.face {
  width: 85px;
  position: absolute;
  top: 10px;
  left: 37px;
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(30deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
